{%  extends "base.html" %}

  {% block titulo %}
      Agendamento
      {% endblock %}</h1>

{%  block contexto%}
  <div class="hero">
     <h1 style="color: white;">Agendamentos</h1>
      <p>para criar um novo agendamento clique no botão abaixo</p>
        <a href="{{ url_for('form_agendamento_page')}}" class="btn btn-success btn-lg mt-3">novo Agendamento</a>
        </div>
 
        <table class="table table-bordered table-striped table table-dark" >
            <thead>
                <tr>
                  <th>id</th>
                  <th>cliente</th>
                    <th>serviço</th>
                    <th>data</th>
                    <th>hora</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                 {% for clie in agend %}
                <tr>
                  <td>{{clie.id}}</td>
                    <td>{{clie.id_cliente}}</td>
                    <td>{{clie.id_servico}}</td>
                    <td>{{clie.id_data}}</td>
                    <td>{{clie.hora}}</td>
                    <td>
                   <a href="#" class="btn btn-sm btn-warning">Editar</a>
         <form action="{{ url_for('delete_agendamento', agendamento_id=clie.id) }}" method="POST" style="display:inline;">
    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir este agendamento?')">Excluir</button>
</form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

 {%  endblock%}