{%  extends "base.html"%}

{% block contexto%}
    <!-- Hero Section -->
    <div class="hero">
        <h1>Bem-vindo ao Sistema de Gerenciamento</h1>
        <p>Organize seus serviços e clientes com facilidade.</p>
        <a href="{{ url_for('agendamento_page')}}" class="btn btn-success btn-lg mt-3">Ver Agendamentos</a>
    </div>

    <div class="container mt-3">
        <h2 class="text-center mb-4" style="color: white;">Resumo do Dia</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Clientes Ativos</h5>
                        <h1>{{total_clientes}}</h1>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-5">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Agendamentos</h5>
                        <h1>{{total_agenda}}</h1>
                    </div>
                </div>
            </div>
           
                </div>
            </div>
        </div>
    </div>
    
    {% endblock%}