<div class="container mt-4">
        <h1 class="mb-3">Cadastro de Serviços</h1>
        <form  method="post">
            <div class="mb-3">
                <label for="nome" class="form-label">Tipo de Serviço</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="mb-3">
                <label for="preco" class="form-label">Preço</label>
                <input type="number" class="form-control" id="preco" name="preco" required>
            </div>
            <div class="mb-3">
                <label for="descricao" class="form-label">descricao</label>
                <input type="text" class="form-control" id="descricao" name="descricao" required>
            </div>
            <button type="submit" class="btn btn-info btn-lg w-100">Cadastrar</button>
        </form>
    </div>